@spacing: 10px;
@font: 'Roboto Mono', monospace;

body {
  text-align: center;
  background: #f5f5f5;
  margin: 0px;
}

.points {
  font-family: @font;
  font-size: 24px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: @spacing;
  z-index: 1;
}

.overlay {
  font-family: @font;
  font-size: 60px;
  margin-top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
  color: white;
}

.overlayText {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.board {
  display: inline-block;
  height: 100%;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background: white;
  position: relative;
}
